@{
    ViewData["Title"] = "Index";
}

<h2>Widok główny</h2>

<a asp-controller="Home" asp-action="AddGasStationView">Dodaj nową stację</a><br />
<a asp-controller="Home" asp-action="AllStationsView">Wyświetl stacje</a><br />
<a asp-controller="Home" asp-action="AllFuelsView">Wyświetl paliwa</a>